<h1>Projects</h1>

<hr />




<%= render @projects %>



<% if user_signed_in? %>

	<div class="button">
	<%=  link_to "New", new_user_project_path(current_user) %>
	</div>

<% elsif %>

	<div class="button">
 	<%= link_to "New", new_user_session_path %>
 	</div>



<% end %>





