<h1> Create collaboration</h1>



<%= form_for(@collab, url: user_projects_create_collab_path) do |f| %>



<%= f.collection_select :user_id, User.all, :id, :name %>




<%# f.label :user_id %>
<%# f.text_field :user_id %>

<br>


<%= f.collection_select :project_id, Project.all, :id, :name %>





<br>
<br>







<%= f.submit %>


<% end %>


