


@import "animate";

@import "bootstrap-sprockets" ;
@import "bootstrap";


html {
    font-size: initial;
    transition: all .3s;
}

body 
{ 
	text-align: center;

}

.tile
{
	height: 350px;
	width: 350px;
	display: inline-block;
	border: solid white;
	background: radial-gradient(#004951, #00373d, #00191C);
	color: white ;
	text-align: center;
	overflow: scroll;
	opacity: 0.8;




}

.navbar-custom
{
	background-color: #00191C;
}


.body {
	margin-top: 200px;
	margin-bottom: 200px;

}


.navbar {
	background-image: url('background-color.png');
	background-repeat: repeat-x repeat-y
}


.logo {
	background-image: url('logo.svg');
	width:100px;
	height:30px;
	position:relative;
	
	background-size:contain;
	
	background-repeat: no-repeat


}

.footer-website {
	padding: 20px 290px 20px 290px;
}

.footer-website a {
	color: white;
}

.footer-item {
	padding: 20px 290px 20px 290px;
}

.footer-item a {
	color: white;
}

.center {
	
	margin-top: 70px;
	margin-bottom:100px;
	margin-right:20px;
	margin-left:20px
}


.fixed-bottom {
	margin-bottom :0px
}

.container {
	
	margin-left:5px;
}

.email {
	
	display:block;
	height:10px;
	width:auto;
	position:relative;
	margin-top:70px;
	margin-right:20px;
	margin-left:20px

}




