/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "animate";
@import "bootstrap-sprockets";
@import "bootstrap";


html {
    transition: all .3s;
    font-size: 100%;  /////to make sure we have 
}


body 
{ 
	background-image: url("https://www.spartaglobal.com/img/media-hub-bg.jpg"); ///// so logo
	background-repeat: repeat-y;
	font-family: 'Raleway', sans-serif;
	background-size: 1500px 1000px;
	text-align: center; 		//// so text and div are central
<<<<<<< HEAD
	margin-top: 70px;			//// gap at top for nav bar
	margin-bottom: 80px;		//// gap at bottom for footer bars
	font-family: raleway;
}

.tile
{
	height: 350px;				///// size for tiles
	width: 350px;
	display: inline-block;		//// how to have them sitting next to one another
	border: solid grey;			//// grey border so we can have more styling
	background: radial-gradient(#004951, #00373d, #00191C); /// some styling for the tiles
	color: white ;		/// text color
	text-align: center;		///// have text central
	margin: 5px;			///// have a little border between tiles
	position: relative;		///// to have them in a line
	overflow:  scroll; /// so tiles are in line
}

img {

    max-width: 100%;
    max-height: 100%;
}

.image{
	text-align: center;
	height: 100px;
	width: 150px;
	position: relative;
	margin: 0 auto;
}



.body {
	margin-top: 300px;
	margin-bottom: 200px;

}

.navbar {
	background-image: url('background-color.png');
	background-repeat: repeat-x repeat-y ;
	height:100px;
}

.navbar-custom
{
	background-color: #00191C; //// to have the nav bar the same colour as the one on sparta global
	margin: auto;		////no spacing between the edge of the screen and nav bars

}

.logo {

	background-image: url('logo.svg');  /// logo for nav bar of sparta global
	width:100px;			//// size
	height:30px;		
	position:relative;			/// to have it at the front on the bar
	background-size:contain;
	background-repeat: no-repeat; /// dont want any repeating 

}


.footer-item {
	padding: 10px 290px 10px 290px;     //// so the buttons on the bottom nav bar are central
}

.footer-item a {
	color: white;			///// so text is white
}

.center { // fix the body not to underlap the navigation bars and footer

	
	margin-top: 100px; 
	margin-bottom:100px;
	margin-right:20px;
	margin-left:20px
}


.fixed-bottom {  // fixes the navigation bar to the bottom of the screen 
	margin-bottom :0px
}

.container { // fix the logo in the nav bar to appear on the right
	
	margin-left:5px;
}

.email { // fix the sign in and sign up position 
	width:auto;
	position:absolute;
	font-size: 12px;
	right:0;
	top:0px;
}

/*a:hover {
	color:red;
}*/

.tile {
	height: 320px;				/* size for tiles*/
	width: 400px;
	display:inline-block ;		//// how to have them sitting next to one another
	border: 1px solid grey;			//// grey border so we can have more styling
	color: white ;		/// text color
	text-align: center;		///// have text central
	margin:2px 6px 2px 6px;			///// have a little border between tiles
	position: relative;		///// to have them in a line
	overflow: hidden; /// so tiles are in line
	position :relative ;
	border-radius:5px;
	background-image:url('logo.png');  // should  be <%= @project.image %>
}

.text {
	position:relative;
	color:white;
	display:none;
	background-color:rgba(0,0,0,0.9);
	height: 350px ;
	width :400px;
}












