<h1> Projects </h1>
<%= render @projects %> 


<%# form_for (Project.new , public_create_filter_path) do |f| %>
  <%# f.grouped_collection_select :project_id, Project.all ,:id, :name %>


   <%# f.submit %>
<%# end %>







